{% extends "base.twig" %}

{% block header %}{% endblock header %}

{% block title %}
    Mon compte - {{ parent() }}
{% endblock %}

{% block content %}
    <main>
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            {% include 'partials/header.twig' %}


            <div class="row">
                <div class="col-6 mx-auto">
                    <h1 class="mb-5">Mon compte</h1>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder=" "
                               value="{{ session.loggedIn.firstname }}" readonly>
                        <label for="firstname">Prénom</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder=" "
                               value="{{ session.loggedIn.lastname }}" readonly>
                        <label for="lastname">Nom</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary disabled" disabled>Modifier mes informations
                        </button>
                        <a href="{{ route(router, 'session-change-password') }}" class="btn btn-dark">Modifier mon mot de
                            passe</a>
                        <a href="{{ route(router, 'session-logout') }}" class="btn btn-outline-danger">Se
                            deconnecter</a>
                    </div>
                </div>
            </div>

        </div>
    </main>
{% endblock %}

