<header class="d-flex flex-wrap align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none me-auto">
        <img src="https://static.hephe.net/images/profile/sylweb_logo.svg" alt="logo starter" width="40" class="me-2">
        <span class="fs-4">PHP Starter</span>

        {#        <ul class="nav nav-pills me-2"> #}
        {#            <li class="nav-item"><a href="#" class="nav-link">Features</a></li> #}
        {#            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> #}
        {#            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li> #}
        {#            <li class="nav-item"><a href="#" class="nav-link">About</a></li> #}
        {#            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> #}
        {#            <li class="nav-item btn-group ms-3"> #}
        {#                <button type="button" class="btn btn-outline-dark">Connexion</button> #}
        {#                <button type="button" class="btn btn-dark">Inscription</button> #}
        {#            </li> #}
        {#        </ul> #}


        {% if session.loggedIn is not empty %}
            <div class="dropdown ms-2">
                <a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="true">
                    <img src="https://github.com/server-asker.png" alt="mdo" width="32" height="32" class="rounded-circle me-1">
                    {{ session.loggedIn.firstname }} {{ session.loggedIn.lastname }}
                    <i class="fas fa-chevron-down ms-2"></i>
                </a>
                <ul class="dropdown-menu text-small gap-1 p-2" data-popper-placement="bottom-start">
                    <li><a class="dropdown-item rounded-2" href="{{ route(router, 'session-account') }}"><i class="fas fa-user me-2"></i> Mon compte</a></li>
                    <li><a class="dropdown-item rounded-2" href="{{ route(router, 'session-changepassword') }}"><i class="fas fa-key me-2"></i> Mot de passe</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item rounded-2 text-danger" href="{{ route(router, 'session-logout') }}"><i class="fas fa-sign-out me-2"></i> Déconnexion</a></li>
                </ul>
            </div>
        {% else %}
            <div class="ms-3">
                <a href="{{ route(router, 'session-login') }}" class="btn btn-outline-dark">Connexion</a>
                <a href="{{ route(router, 'session-register') }}" class="btn btn-dark">Inscription</a>
            </div>
        {% endif %}
    </a>
</header>